/* common mixins */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.text-input,
.button-input {
  border: 0;
  background: none;
  outline: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.inline-block-wrap {
  word-spacing: -0.31em;
}
.inline-block-wrap > * {
  word-spacing: normal;
}
.va-table {
  height: 100%;
  width: 100%;
  display: table;
}
.va-table .va-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* end common mixins */
/* base project styles */
@font-face {
  font-family: 'exo2.0-thin';
  src: url('../fonts/exo2.0-thin.eot');
  src: url('../fonts/exo2.0-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2.0-thin.woff2') format('woff2'), url('../fonts/exo2.0-thin.woff') format('woff'), url('../fonts/exo2.0-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Arial', sans-serif, serif;
  font-size: 14px;
  line-height: normal;
  color: #000000;
}
.wrap {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.pattern-bg {
  background: url('../img/pattern.jpg') repeat;
}
.grad-overlay {
  position: relative;
}
.grad-overlay:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
.grad-overlay > * {
  position: relative;
}
.page-title {
  margin-top: 0.5555555555555556em;
  margin-bottom: 0.5555555555555556em;
  font-family: 'exo2.0-thin', 'Arial', sans-serif, serif;
  font-size: 2.5714285714285716em;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}
.dotted-link {
  display: inline-block;
  border-bottom: 1px dashed;
}
.dotted-link:hover {
  border-color: transparent;
}
.common-link {
  color: #1698d9;
  border-color: #1698d9;
}
@media only screen and (max-width: 1023px) {
  
}
@media only screen and (max-width: 767px) {
  
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
/* end base project styles */
/* main page styles */
.packs-wrap {
  margin: 0 3.125%;
  text-align: center;
  word-spacing: -0.31em;
}
.packs-wrap > * {
  word-spacing: normal;
}
.pack-block {
  display: inline-block;
  vertical-align: top;
  width: 22.857142857142858em;
  margin: 0 3.125% 1.4285714285714286em;
  text-align: left;
}
.pack-block__subscription {
  padding: 1.1538461538461537em 0;
  text-align: center;
  font-size: 0.9285714285714286em;
  line-height: 1;
  color: #ffffff;
}
.pack-block__subscription--selected,
.pack-block__subscription--disabled {
  display: none;
}
.pack-block__subscription--disabled {
  color: #ffff66;
}
.pack-block--selected .pack-block__subscription--default {
  display: none;
}
.pack-block--selected .pack-block__subscription--selected {
  display: block;
}
.pack-block--selected .pack__wrap {
  border-color: #d91667;
}
.pack-block--selected .pack .pack-mass {
  background-color: #d91667;
}
.pack-block--selected .pack .cut-corner-block__corner {
  border-color: #d91667;
}
.pack-block--selected .pack .cut-corner-block__corner:after,
.pack-block--selected .pack .cut-corner-block__corner:before {
  border-color: #d91667;
}
.pack-block--selected .pack:hover .pack__wrap {
  border-color: #e62e7a;
}
.pack-block--selected .pack:hover .pack-mass {
  background-color: #e62e7a;
}
.pack-block--selected .pack:hover .cut-corner-block__corner {
  border-color: #e62e7a;
}
.pack-block--selected .pack:hover .cut-corner-block__corner:after,
.pack-block--selected .pack:hover .cut-corner-block__corner:before {
  border-color: #e62e7a;
}
.pack-block--disabled .pack-block__subscription--default {
  display: none;
}
.pack-block--disabled .pack-block__subscription--disabled {
  display: block;
}
.pack-block--disabled .pack {
  cursor: default;
}
.pack-block--disabled .pack__wrap {
  border-color: #b3b3b3;
}
.pack-block--disabled .pack__content {
  color: #b3b3b3;
  opacity: 0.5;
}
.pack-block--disabled .pack__picture {
  opacity: 0.5;
}
.pack-block--disabled .pack .pack-mass {
  background-color: #b3b3b3;
}
.pack-block--disabled .pack .cut-corner-block__corner {
  border-color: #b3b3b3;
}
.pack-block--disabled .pack .cut-corner-block__corner:after,
.pack-block--disabled .pack .cut-corner-block__corner:before {
  border-color: #b3b3b3;
}
.pack-block--disabled .pack:hover .pack__wrap {
  border-color: #b3b3b3;
}
.pack-block--disabled .pack:hover .pack-mass {
  background-color: #b3b3b3;
}
.pack-block--disabled .pack:hover .cut-corner-block__corner {
  border-color: #b3b3b3;
}
.pack-block--disabled .pack:hover .cut-corner-block__corner:after,
.pack-block--disabled .pack:hover .cut-corner-block__corner:before {
  border-color: #b3b3b3;
}
.pack {
  position: relative;
  cursor: pointer;
}
.pack__wrap {
  position: relative;
  box-sizing: border-box;
  min-height: 34.285714285714285em;
  padding: 1.0714285714285714em 2.857142857142857em 1.4285714285714286em;
  border: 4px solid #1698d9;
  border-radius: 15px;
  background-color: #f2f2f2;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.pack__content {
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.pack__picture {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: left -20px bottom -90px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.pack__info {
  position: absolute;
  right: 0.7142857142857143em;
  bottom: 0.7142857142857143em;
}
.pack-description {
  margin-bottom: 0.3125em;
  font-size: 1.1428571428571428em;
  color: #666666;
}
.pack-title {
  margin-bottom: 0.2916666666666667em;
  font-size: 3.4285714285714284em;
  font-weight: bold;
}
.pack-title__add {
  display: block;
  font-size: 0.5em;
}
.pack-features {
  margin-bottom: 0.7142857142857143em;
  font-size: 1em;
  color: #666666;
}
.pack-mass {
  box-sizing: border-box;
  width: 3.8095238095238093em;
  height: 3.8095238095238093em;
  padding-top: 0.6666666666666666em;
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  line-height: 0.9;
  background-color: #1698d9;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.pack-mass__value {
  display: block;
  font-size: 2em;
}
.pack:hover .pack__wrap {
  border-color: #2ea8e6;
}
.pack:hover .pack-mass {
  background-color: #2ea8e6;
}
.pack:hover .cut-corner-block__corner {
  border-color: #2ea8e6;
}
.pack:hover .cut-corner-block__corner:after,
.pack:hover .cut-corner-block__corner:before {
  border-color: #2ea8e6;
}
.cut-corner-block {
  position: relative;
}
.cut-corner-block--left-top {
  border-top-left-radius: 80px;
}
.cut-corner-block--left-top .cut-corner-block__corner {
  left: 9.1px;
  top: 9.1px;
}
.cut-corner-block__corner {
  position: absolute;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-left: 3px solid #1698d9;
  background: #f2f2f2;
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.cut-corner-block__corner:before,
.cut-corner-block__corner:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.cut-corner-block__corner:before {
  top: 0;
  left: 0;
  border-top: 4px solid #1698d9;
  transform: rotate(-45deg) translate(50.6%, -20%);
}
.cut-corner-block__corner:after {
  left: 0;
  bottom: 0;
  border-bottom: 4px solid #1698d9;
  transform: rotate(45deg) translate(50.6%, 20%);
}
@media only screen and (max-width: 1023px) {
  .pack-block {
    margin: 0 1.953125% 1.4285714285714286em;
  }
}
@media only screen and (max-width: 767px) {
  
}
@media only screen and (max-width: 480px) {
  
}
/* main page styles */
